html{
    width: 100vw;
    height: 100vh;
}
.ptadmin-layout-body{
    width: 100%;
    height: 100%;
}
// 展开时左侧宽度
$theme-expand-left: 220px;
// 收缩时左侧宽度
$theme-shrink-left: 60px;
// 头部高度
$theme-header-top: 60px;
// tabs 高度
$theme-tabs-top: 40px;
// 默认body背景色
// $theme-body-bg: ;
$theme-body-bg: rgba(239, 232, 232, 0.6);
$theme-main-bg: #2e81fa;

$normal-size: 14px;
$border-color: #f8f8f8;
$search-header-bg: #f8f8f8;
$input-border-color: #e8e8e8;
$hover-bg: #f8f8f8;
$categorize-color: #606266;

/** 主题色彩 */
$ptadmin-theme-primary: #0066ff;
$ptadmin-theme-success: #67C23A;
$ptadmin-theme-warn: #E6A23C;
$ptadmin-theme-danger: #F56C6C;
$ptadmin-theme-info: #909399;
$ptadmin-theme-black: #303133;
$ptadmin-theme-white: #ffffff;

:root{
    --theme-expand-left: #{$theme-expand-left};
    --theme-shrink-left: #{$theme-shrink-left};
    --theme-header-top: #{$theme-header-top};
    --theme-body-bg: #{$theme-body-bg};
    --theme-tabs-top: #{$theme-tabs-top};
    --theme-main-bg: #{$theme-main-bg};
    --lay-color-bg-2: #2f363c; /*一级容器背景,卡片,面板*/

    --ptadmin-theme-primary: #{$ptadmin-theme-primary};
    --ptadmin-theme-success: #{$ptadmin-theme-success};
    --ptadmin-theme-warn: #{$ptadmin-theme-warn};
    --ptadmin-theme-danger: #{$ptadmin-theme-danger};
    --ptadmin-theme-info: #{$ptadmin-theme-info};
    --ptadmin-theme-black: #{$ptadmin-theme-black};
    --ptadmin-theme-white: #{$ptadmin-theme-white};
}
