@import "variable";
@import "login";
@import "loading";
@import "./font/iconfont.css";
/** 移除隐藏 */
#ptadmin_app{
    overflow: hidden;
}
.ptadmin-layout-content {
    position: relative;
    z-index: 99;
    .ptadmin-layout-tabs-action-shade{
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        user-select: none;
        display: none;
    }
}
/** 遮罩 **/
.ptadmin-shade {
    position: absolute;
    display: none;
    left: var(--theme-expand-left);
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 1000;
    width: calc(100vw - 220px);
}

/** 侧边展开样式 **/
.ptadmin-layout{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    .ptadmin-layout-left{
        width: var(--theme-expand-left);
        flex-shrink: 0;
        background-color: var(--lay-color-bg-2);
        height: 100vh;
        .ptadmin-logo{
            height: var(--theme-header-top);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                max-width: $theme-expand-left / 2;
                max-height: $theme-header-top ;
                &.expand{
                    display: block;
                }
                &.shrink{
                    display: none;
                }
            }
        }
        .ptadmin-nav{
            height: calc(100% - var(--theme-header-top));
            .layui-nav{
                width: 220px;
            }
        }
    }
    .ptadmin-layout-header{
        background-color: var(--lay-color-bg-2);
        display: flex;
        justify-content: space-between;
    }
    .ptadmin-layout-right{
        overflow-x: hidden;
        .ptadmin-layout-header{
            .layui-nav-right{
                .layui-nav-child{
                    right: 0;
                    left: auto;
                }
            }
        }
        width: 100%;
    }
}

// 侧边收缩样式
.ptadmin-shrink{
    .ptadmin-layout-left{
        width: var(--theme-shrink-left);
        .ptadmin-logo{
            img {
                max-width: $theme-shrink-left / 2;
                &.expand{
                    display: none;
                }
                &.shrink{
                    display: block;
                }
            }
        }
        .ptadmin-nav{
            width: var(--theme-shrink-left);
            height: calc(100% - var(--theme-header-top));
            .layui-side-scroll{
                scrollbar-width: none;
            }
            .layui-nav, .layui-nav-item{
                width: var(--theme-shrink-left);
                position: relative;
                > a{
                    cite, .layui-nav-more{
                        display: none;
                        // padding: 8px 0;
                    }
                }
            }
            .ptadmin-shrink-nav{
                width: 145px;
                position: absolute;
                left: 65px;
                background: var(--lay-color-bg-2);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 5px;
                z-index: 9999;
                .layui-nav-child{
                    background: transparent !important;
                    padding: 0 !important;
                }
            }
            .layui-nav-itemed > a{
                background: rgba(0,0,0,.3);
            }
            .layui-nav-bar{
                left: 75px;
            }
        }
    }
    .ptadmin-layout-right{
        width: 100%;
    }
}
// 移动端收缩样式
.ptadmin-shrink-sm{
    .ptadmin-layout-left{
        display: none;
    }

}
// 移动端展开样式
.ptadmin-spread-sm{
    .ptadmin-shade {
        display: block;
    }
}

.ptadmin-layout-tabs{
    padding: 0 20px 0 20px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    .ptadmin-tabs-control{
        position: absolute;
        cursor: pointer;
        top: 0;
        width: 40px;
        height: 100%;
        text-align: center;
        transition: all .3s;
        -webkit-transition: all .3s;
        box-sizing: border-box;
        border-left: 1px solid #f6f6f6;
        &.layui-icon-prev{
            left: 0;
            border-left: none;
            border-right: 1px solid #f6f6f6;
        }
        &.layui-icon-next{
            right: 40px;
        }
        &.layui-icon-down{
            right: 0;
            .layui-nav{
                background: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                z-index: 100;
            }
        }
    }
    .layui-tab{
        margin: 0;
        .layui-tab-title{
            overflow: hidden;
            overflow-x: auto;
            &::-webkit-scrollbar{
                display: none;
            }
            li {
                min-width: auto;
                &::before{
                    transition: all .3s;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 3px;
                    background-color:var(--theme-main-bg) !important;
                }
                &.layui-this{
                    background-color: var(--theme-body-bg);
                    &::before{
                        width: 100%;
                    }
                }
                position: relative;

                &:hover{
                    background-color: var(--theme-body-bg);
                    &::before{
                        width: 100%;
                    }
                }
            }
            li:first-child{
                .layui-tab-close{
                    display: none;
                }
            }
        }
    }
}

.ptadmin-layout-tabs-action{
    position: absolute;
    display: none;
    left:0px;
    top: 0px;
    min-width: 150px;
    z-index: 99;
    background: #fff;
    box-shadow:0 2px 27px 6px rgba(0, 0, 0, .1);
    border-radius: 2px;
    .content{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 0px;
            height: 0px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
            top: -8px;
            left: 0px;
        }
        padding: 5px 0;
        .item{
            padding: 5px 10px;
            transition: all .3s;
            cursor: pointer;
            user-select: none;
            &:hover{
                background: var(--theme-body-bg);
            }
            .layui-icon{
                padding-right: 5px;
            }
        }

        .disabled{
            cursor: not-allowed;
            background: var(--theme-body-bg);
        }
    }
}

.ptadmin-layout-content{
    .ptadmin-iframe-item{
        display: none;
        padding: 10px;
        background-color: var(--theme-body-bg);
        height: calc(100vh - 20px - var(--theme-header-top) - var(--theme-tabs-top));
        iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
        &.ptadmin-show{
            display: block;
        }
    }
}


/** 图片展示效果 **/
.ptadmin-image-list {
    display: flex;
    flex-wrap: wrap;
    div {
        margin-right: 15px;
    }
}

.ptadmin-image{
    $width: 6rem;
    $height: 6rem;
    width: $width;
    height: $width;
    border:1px #e8e8e8 solid;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
    .layui-img-content{
        width: auto;
        height: auto;
        max-width: $width;
        max-height: $width;
    }
    $deleteWidth: 20px;     // 删除按钮默认宽度
    $deleteHeight: 20px;    // 删除按钮默认高度
    $deletePlus: 2;         // 删除按钮鼠标移动上去后的变化大小
    .layui-img-delete{
        position: absolute;
        top:3px;
        right:-10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        width: $deleteWidth;
        height: $deleteHeight;
        border-radius: 50%;
        line-height: $deleteHeight;
        text-align: center;
        cursor: pointer;
        z-index: 999;
        &:hover{
            width: $deleteWidth + $deletePlus;
            height: $deleteHeight + $deletePlus;
            line-height: $deleteHeight + $deletePlus;
            top: 3px - $deletePlus/2;
            right: -10px - $deletePlus/2;
        }
    }
    .layui-img-icon{
        font-size:40px;
    }
    &:hover {
        .layui-img-bg,.layui-img-btn {
            position: absolute;
            top: 0;
            left: 0;
            width: $width;
            height: $height;
            display: block;
            padding: 0.5em;
        }
        .layui-img-bg{
            background-color: rgba(0, 0, 0, 0.5);
        }
        .layui-img-btn{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .layui-img-bg,.layui-img-btn{
        display: none;
    }

}
/** 图片展示效果 END **/


/** 扩展功能组件 **/
// 数字按钮
.ptadmin-number{
    display: flex;
    .layui-input{
        width: 80px;
        -moz-appearance: textfield; // 火狐兼容取消number的上下箭头
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button{
            -webkit-appearance: none !important;
            margin: 0;
        }
    }
    span{
        border: 1px solid #EEE;
        text-align: center;
        height: 36px;
        line-height: 38px;
        width: 37px;
        cursor: pointer;
        -moz-user-select: none;
    }
    span:last-child {
        border-left: none;
    }
    span:first-child{
        border-right: none;
    }
}

// icon输入框
.layui-input-icon{
    display: flex;
    span{
        border: 1px solid #EEE;
        text-align: center;
        height: 36px;
        line-height: 38px;
        width: 37px;
        cursor: pointer;
        -moz-user-select: none;
    }
    span:last-child {
        border-left: none;
    }
    span:first-child{
        border-right: none;
    }
    .layui-input{
        width: 180px;
    }
}

.layui-input-color{
    display: flex;
    .layui-input{
        width: 180px;
    }
    .layui-colorpicker{
        border-left: none;
    }
}


/** Icon */
.icon{
    display: flex;
    width: 100%;
    height: 100%;
    .icon-left{
        flex-shrink: 0;
        width: 150px;
        line-height: 50px;
        text-align: center;
        background: #f9f9f9;
        height: 100%;
        border-right: 1px solid #e3e2e8;
        margin-right: 20px;
        p{
            cursor: pointer;
        }
        .icon-this{
            border-left: 5px solid #00b7ee;
            color: #00b7ee;
            background-color: #ffffff;
        }
    }
    .icon-content{
        .icon-header{
            width: 100%;
        }
        overflow-y: auto;
        .icon-lists {
            display: none;
            &.icon-show{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .ptadmin-docs-icon{
                width: 100%;
            }
            .ptadmin-docs-icon>div{
                display: inline-block;
                vertical-align: middle;
                width: 16.5%;
                line-height: 25px;
                padding: 20px 0;
                margin-right: -1px;
                margin-bottom: -1px;
                border: 1px solid #e2e2e2;
                font-size: 14px;
                text-align: center;
                color: #777;
                cursor: pointer;
                transition: all .3s;
                -webkit-transition: all .3s;
                .layui-icon, .fa{
                    font-size: 30px;
                }
                &:hover,&.pt-this{
                    background-color: #f2f2f2;
                }
            }
            @media screen and (max-width: 767.98px){
                .ptadmin-docs-icon>div {
                    width: calc(48% - 2px);
                }
            }
        }
    }
}
/** Icon End*/


/** PTICON */
.ptadmin-icon-dialog{
    .ptadmin-icon{
        height: 100%;
        display: flex;
        .ptadmin-icon-left{
            min-width: 120px;
            background: rgb(242, 242, 242);
            text-align: center;
            .icon-nav-item{
                padding: 10px 0;
                cursor: pointer;
                position: relative;
                transition: all .3s;
                &:hover{
                    background: #FFF;
                }
            }
            .active{
                background: #FFF;
                &::before{
                    position: absolute;
                    content: '';
                    width: 3px;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: $theme-main-bg;
                }

            }
        }
        .ptadmin-icon-content{
            flex: 1;
            .content-item{
                display: none;
                height: 100%;
                overflow-y: auto;
                .categorize-item{
                    overflow-y: auto;
                    &:last-child{
                        .icons{
                            padding-bottom: 10px;
                        }
                    }
                    .categorize-title{
                        padding: 15px;
                        font-weight: 550;
                        font-size: 15px;
                    }
                    .icons{
                            padding: 0  10px;
                            display: grid;
                            gap: 5px;
                            grid-template-columns: repeat(8, 1fr);
                            @media (max-width: 575.98px) {
                                grid-template-columns: repeat(3, 1fr);
                            }
                            @media (min-width:  575px) and (max-width: 991.98px) {
                                grid-template-columns: repeat(5, 1fr);
                            }
                            .icon-item{
                                text-align: center;
                                aspect-ratio: 1/1;
                                border: 1px solid #e2e2e2;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                min-width: 0%;
                                padding:0 5px;
                                box-sizing: border-box;
                                span{
                                    display: block;
                                    width: 100%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-align: center;
                                }
                                &:hover{
                                    background: rgb(242, 242, 242);
                                }
                                >i{
                                    margin-bottom: 8px;
                                    font-size: 30px;
                                }
                                >*{
                                    color: #777;
                                }
                        }
                    }

                }
                .icon-item-active{
                    background: rgb(242, 242, 242);
                }
            }
            .ptadmin-show-icon{
                display: block;
            }
        }
    }
    .layui-layer-btn{
        position: relative;
        .footer-icon{
            position: absolute;
            left: 0;
            top: 0%;
            height: 100%;
            padding: 5px 10px 10px;
            box-sizing: border-box;
            .pt-icon{
                margin: 5px 5px 0;
                height: 30px;
                line-height: 30px;
                font-size: 16px;
                padding: 0 16px;
                border-radius: 2px;
                border: 1px solid #dedede;
            }
        }
    }
}

/** PTICON End */

/** ptadmin-categorize */
@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
/** 滚动条样式 */
@mixin scrollbar($width:6px,$radius:5px){
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: $radius;
    }
}
.ptadmin-categorize-box{
    --header-height:50px;
    --hover-bg:#f8f8f8;
    --active:#16baaa;
    .ptadmin-categorize-header{
        height: var(--header-height);
        background: #FFF;
        display: flex;
        justify-content: space-between;
        line-height: var(--header-height);
        padding: 0 15px;
        border-radius: 2px 2px 2px 0;
        .title{
            font-size: 16px;
            font-weight: 600;
        }
    }
    .ptadmin-categorize-container{
        display: flex;
        .ptadmin-categorize-aside{
            flex-shrink: 0;
            width: 180px;
            background: #FFF;
            height:calc( 100vh - var(--header-height));
            overflow-y: auto;
            border-top: 1px solid  var(--hover-bg);
            box-sizing: border-box;
            border-radius: 0 0 2px 2px;
            @include scrollbar();
            .lists{
                padding: 5px 0;
                >li{
                    padding: 10px 15px;
                    transition: all .3s;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    &:not(.active){
                        &:hover{
                            background:var(--hover-bg);
                        }
                    }
                    .layui-btn-group{
                        transition: all .3s;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        z-index: -1;
                    }
                    &:hover{
                        .layui-btn-group{
                            opacity: 1;
                            z-index: 2;
                        }
                    }
                }
                .active{
                    background: var(--active);
                    color: #FFF;
                }
            }
        }
        .ptadmin-categorize-main{
            flex: 1;
            padding: 10px 0 65px 10px;
            height:calc( 100vh - var(--header-height));
            box-sizing: border-box;
            .card-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 15px;
                border-bottom: 1px solid var(--hover-bg);
                height: 50px;
                .ptadmin-categorize-tabs{
                    display: flex;
                    overflow-x: auto;
                    flex-wrap: nowrap;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    box-sizing: border-box;
                    flex: 1;
                    .tab{
                        padding: 8px 20px;
                        cursor: pointer;
                        border-radius: 2px;
                        transition: all .3s;
                        position: relative;
                        flex-shrink: 0;
                        &::before{
                            transition: all .3s;
                            content: '';
                            width: 0;
                            height: 2px;
                            background: var(--active);
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            border-radius: 2px;
                        }
                        &:hover{
                            background: var(--hover-bg);
                            color: var(--active);
                            &::before{
                                width: 100%;
                            }
                        }
                    }
                    .active{
                        color: var(--active);
                        &::before{
                            width: 50%;
                        }
                    }
                }
                .layui-btn-group{
                    flex-shrink: 0;
                    margin-left: 20px;
                }
            }
            > .layui-card > .layui-card-body{
                overflow-y: auto;
                @include scrollbar();
                height:calc( 100vh - var(--header-height) - 145px);
            }
        }
    }
}

/** ptadmin-categorize End */

/** 配置分类 **/
.configure{

    .box-right{
        flex-grow: 1;
        .box-item{
            display: flex;
            justify-content: flex-start;
            >div{
                width: 50%;
            }
            .box-content{
                padding-right: 10px;
            }
        }
        .box-content{
            .box-content-item{
                display: none;
            }
            .active{
                animation: fade .3s ease-in-out;
                display: block;
            }
        }
    }
    .container-footer{
        width: 100%;
        background: #FFF;
        position: fixed;
        bottom: 0;
        margin: 0 -15px;
        padding: 8px 15px;
        text-align: center;
    }

    .container-item {
        padding: 0 20px;
        overflow-y: auto;
        >div:first-child{
            border-bottom: none;
        }
        .layui-card{
            display: none;
        }
        .active{
            display: block;
            animation: fade .3s ease-in-out;
        }
    }
}

/** 分类 End**/

/** 文章管理 **/
.article{
    display: flex;
    height: 100%;
    background: #F4F4F4;
    .tree {
        flex-shrink: 0;
        width: 280px;
        height: 100%;
        margin-right: 10px;
        background-color: #fff;
        .tree-title{
            text-indent: 10px;
            font-size: 20px;
            border-bottom: 1px solid #eee;
            padding: 10px 0;
            margin: 0;
            i{
                font-size: 24px;
            }
        }
    }
    .ztree {
        padding-top: 10px;
    }
    .content-article{
        width: 100%;
        height: 100%;
    }
}

.ptadmin-card-header {
    display: flex;
    justify-content: space-between;
    height: auto;
    min-width: 50px;
}

// 插件管理
.addon-item{
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    .addon-item-img{
        text-align: center;
        height: 10rem;
        background: #e3f0fc;
        padding: .5rem;
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 5px;
        }
    }
    .addon-item-content{
        padding: 10px 0;
    }
    .addon-item-title{
        padding: 0 10px;
        .title{
            color: #333;
            font-size: 14px;
            line-height: 200%;
            overflow: hidden;
            height: 30px;
        }
        .addon-icon{
            font-size: 12px;
            color: #999;
            display: flex;
            justify-content: space-between;
            .addon-price{
                strong{
                    color:red;
                    font-size: 16px;
                }
            }
        }
    }
    .addon-btn{
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }
}
// 开发辅助
.develop-addon{
    width: 100%;
    $borderColor: #ccc;
    border-radius: 5px;
    border: 1px solid $borderColor;
    position: relative;
    .addon-box{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 20px;
        width: calc(100% - 40px);
        .avatar{
            $size: 80px;
            width: $size;
            height: $size;
            flex-shrink: 0;
            border-radius: $size;
            img {
                max-width: 100%;
            }
        }
        .addon-content {
            margin-left: 20px;
            .addon-title{
                display: flex;
                width: 100%;
                span:first-child{
                    font-size: 16px;

                }
                span:last-child{
                    display: inline-block;
                    font-size: 12px;
                    color: #999;
                    text-indent: 10px;
                    width: 50px;
                }
            }
            .addon-desc{
                font-size: 14px;
                color: #999;
                height: 70px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; /* 限制在三行内 */
                /* 断词设置 */
                // word-wrap: break-word;
                // word-break: break-all;
            }
        }
    }
    .addon-btn{
        border-top: 1px solid $borderColor;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
}


.empty{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    i{
        font-size: 7em;
        color: #cbc4c4;
    }
    p{
        color: #cbc4c4;
        margin-top: 20px;
    }
}

// 仪表盘
.dashboard{
    > .layui-col-space15{
        margin: 0;
    }
    a.layui-badge:hover{
        color: #fff;
    }
    .bless{
        p.text {
            text-indent: 20px;
            line-height: 200%;
            span{
                text-indent: 0;
                font-size: 16px;
            }
        }
        .btn{
            display: flex;
            justify-content: right;
            span{
                cursor: pointer;
            }
        }
    }
    .table-title{
        width: 80px;
        background-color: var(--theme-body-bg);
    }
    .quick-nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .quick-nav-box{
            width: calc(100% / 5 - 10px);
            cursor: pointer;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            div{
                background-color: rgba(247, 247, 247, 1);
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 24px;
                }
            }
            .text{
                font-size: 14px;
                color: #666;
                padding: 5px 0;
            }

        }
    }

    .dashboard-card-icon-bg {
        .dashboard-card {
            background: #f7f7f7 !important;
        }
        .content {
            .title {
                color: #999 !important;
            }
            .number {
                color: #666 !important;
            }
        }
    }

    .dashboard-card {
        border-radius: 5px;
        display: flex;
        overflow: hidden;
        align-items: center;
        color: #fff;
        .icon-box {
            padding: 25px;
            .iconfont {
                font-size: 30px;
                color: #fff;
            }
        }
        .content {
            padding-left: 20px;
            .title {
                font-size: 16px;
                color: #fff;
            }
            .number {
                font-size: 28px;
                font-weight: 550;
                margin-top: 5px;
            }
            .compare{
                display: none;
            }
        }
    }

    .dashboard-card-reverse {
        .dashboard-card {
            justify-content: space-between !important;
            flex-direction: row-reverse !important;
        }
    }
    .dashboard-card-compare{
        .dashboard-card {
            padding: 20px;
            align-items: normal;
            .icon-box {
                padding: 0;
                .iconfont {
                    font-size: 30px;
                }
            }
            .content{
                padding-left: 10px;
                .compare{
                    display: block;
                }
            }
        }
    }
    .dashboard-card-icon-round{
        .dashboard-card {
            background: #fff !important;
            padding: 20px;
            align-items: center !important;
        }
        .icon-box {
            padding: 1rem !important;
            border-radius: 50%;
            .iconfont {
                font-size: 40px;
            }
        }
        .content {
            .title {
                color: #999 !important;
            }
            .number {
                color: #666 !important;
            }
            .compare{
                color: #666;
            }
        }
    }
}
[ptadmin-tips]{
    cursor: pointer;
}

.ptadmin-theme-success{
    background-color: var(--ptadmin-theme-success);
}
.ptadmin-theme-danger{
    background-color: var(--ptadmin-theme-danger);
}
.ptadmin-theme-warning{
    background-color: var(--ptadmin-theme-warning);
}
.ptadmin-theme-info{
    background-color: var(--ptadmin-theme-info);
}
.ptadmin-theme-primary{
    background-color: var(--ptadmin-theme-primary);
}
.ptadmin-theme-black{
    background-color: var(--ptadmin-theme-black);
}

.ptadmin-page-container {
    .ptadmin-header{
        display: flex;
        justify-content: space-between;
        line-height: normal!important;
        padding-top: 10px;
        align-items: center;
        [ptadmin-event=keywords]{
            cursor: pointer;
        }
        .right{
            display: flex;
            > .layui-btn-group{
                margin-left: 5px;
            }
            .layui-input{
                height: 30px;
                line-height: 30px;
            }
        }
    }
    .ptadmin-page-box {
        --prefix-width: 85px;
        --icon-spacing: 0 25px;
        padding: 10px 15px;
        border-bottom: 1px solid #f8f8f8;
        .ptadmin-search-form {
            background: #f8f8f8;
            margin: 0;
            .ptadmin-input-group {
                display: flex;
                .ptadmin-interval {
                    display: flex;
                    align-items: center;
                    flex: 1;
                    span {
                        padding: var(--icon-spacing);
                        display: inline-block;
                    }
                    .layui-input-wrap {
                        width: 100%;
                    }
                }
            }
            .ptadmin-label {
                border-right: 0;
                flex-shrink: 0;
            }
            .ptadmin-prefix {
                border-width: 0;
                padding: 0;
                flex-shrink: 0;
                .layui-input {
                    border-right: 0;
                    max-width: var(--prefix-width);
                    &:focus {
                        border-color: #e8e8e8 !important;
                        box-shadow: none;
                    }
                    &:hover {
                        border-color: #e8e8e8 !important;
                    }
                }
            }
        }
    }
}

