@font-face {
  font-family: "iconfont"; /* Project id 4143557 */
  src: url('iconfont.woff2?t=1726213404330') format('woff2'),
       url('iconfont.woff?t=1726213404330') format('woff'),
       url('iconfont.ttf?t=1726213404330') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tap:before {
  content: "\e86d";
}

.icon-selected:before {
  content: "\e861";
}

.icon-success:before {
  content: "\e85e";
}

.icon-qr-code:before {
  content: "\e863";
}

.icon-cart-empty:before {
  content: "\e82d";
}

.icon-computer:before {
  content: "\e85b";
}

.icon-business-icon-feeds-logo-fill:before {
  content: "\e82c";
}

.icon-AI-money:before {
  content: "\e889";
}

.icon-business-icon-sales-center:before {
  content: "\e825";
}

.icon-info:before {
  content: "\e858";
}

.icon-security:before {
  content: "\e86a";
}

.icon-location-fill:before {
  content: "\e856";
}

.icon-email-fill:before {
  content: "\e85a";
}

.icon-company-fill:before {
  content: "\e855";
}

.icon-assessed-badge:before {
  content: "\e851";
}

.icon-honor:before {
  content: "\e859";
}

.icon-money-finance-seller:before {
  content: "\e838";
}

.icon-money-finance-buyer:before {
  content: "\e832";
}

.icon-error:before {
  content: "\e84e";
}

.icon-change:before {
  content: "\e88c";
}

.icon-response-fill:before {
  content: "\e865";
}

.icon-business-icon-feeds-fill:before {
  content: "\e823";
}

.icon-catalog-download-fill:before {
  content: "\e826";
}

.icon-message-reply-template-fill:before {
  content: "\e82f";
}

.icon-smile-fill:before {
  content: "\e84c";
}

.icon-computer-fill:before {
  content: "\e850";
}

.icon-home-fill:before {
  content: "\e857";
}

.icon-new:before {
  content: "\e85d";
}

.icon-a-commandinquiry-fill:before {
  content: "\e888";
}

.icon-time:before {
  content: "\e837";
}

.icon-view-fill:before {
  content: "\e84b";
}

.icon-jinggao:before {
  content: "\eb65";
}

.icon-product-list-fill:before {
  content: "\e834";
}

.icon-product-filter-fill:before {
  content: "\e836";
}

.icon-component:before {
  content: "\e84f";
}

.icon-zhuanshuchangjing:before {
  content: "\e884";
}

.icon-message-comments-fill:before {
  content: "\e82e";
}

.icon-customization-fill:before {
  content: "\e852";
}

.icon-security-fill:before {
  content: "\e868";
}

.icon-product-checked-fill:before {
  content: "\e833";
}

.icon-youzhimaoyiqu:before {
  content: "\e881";
}

.icon-layers:before {
  content: "\e885";
}

.icon-customer-certified-fill:before {
  content: "\e828";
}

.icon-customer-fill:before {
  content: "\e82b";
}

.icon-money-wallet-fill:before {
  content: "\e831";
}

.icon-weikong:before {
  content: "\eb27";
}

.icon-delete:before {
  content: "\e848";
}

.icon-confirm:before {
  content: "\e844";
}

.icon-fuwuguwen:before {
  content: "\e876";
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-add:before {
  content: "\e835";
}

.icon-discount:before {
  content: "\e854";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-good1:before {
  content: "\e846";
}

.icon-kongzhuangtai:before {
  content: "\e718";
}

.icon-good:before {
  content: "\e62a";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-left:before {
  content: "\e842";
}

.icon-right:before {
  content: "\e843";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-close:before {
  content: "\e83f";
}

.icon-category:before {
  content: "\e84d";
}

.icon-shut-down:before {
  content: "\e869";
}

.icon-customer:before {
  content: "\e82a";
}

.icon-settings-fill:before {
  content: "\e841";
}

.icon-editor-eraser:before {
  content: "\e829";
}

.icon-phone:before {
  content: "\e860";
}

.icon-customer-center:before {
  content: "\e827";
}

.icon-lock:before {
  content: "\e83e";
}

.icon-shidirenzheng:before {
  content: "\e87c";
}

.icon-git:before {
  content: "\e715";
}

.icon-favorites:before {
  content: "\e83a";
}

.icon-flashlight:before {
  content: "\e83c";
}

.icon-all:before {
  content: "\e84a";
}

.icon-user-defined-fill:before {
  content: "\e871";
}

.icon-search:before {
  content: "\e840";
}

.icon-edit:before {
  content: "\e839";
}

.icon-good-fill:before {
  content: "\e83b";
}

.icon-view:before {
  content: "\e847";
}

.icon-business-icon-sales-center-fill:before {
  content: "\e824";
}

.icon-money-finance-seller-fill:before {
  content: "\e830";
}

.icon-warning-fill:before {
  content: "\e849";
}

.icon-discount-fill:before {
  content: "\e853";
}

.icon-hot-for-ux-fill:before {
  content: "\e83d";
}

.icon-phone-fill:before {
  content: "\e85f";
}

.icon-up:before {
  content: "\e845";
}

.icon-survey:before {
  content: "\e86b";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon--kefu:before {
  content: "\e8ab";
}

.icon-download:before {
  content: "\e66c";
}

